In [45]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

**Data loading**

In [ ]:
df = pd.read_csv("data.csv")
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,3.130000e+05,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2.384000e+06,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,3.420000e+05,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,4.200000e+05,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,5.500000e+05,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,7/9/2014 0:00,3.081667e+05,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,5.343333e+05,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,4.169042e+05,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,2.034000e+05,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,2.206000e+05,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [47]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [48]:
df.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

In [49]:
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,7/9/2014 0:00,308166.6667,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,534333.3333,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,416904.1667,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,203400.0000,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,220600.0000,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [50]:
df.tail(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4598,7/10/2014 0:00,203400.0,4,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,220600.0,3,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [51]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(3), int64(10), object(5)
memory usage: 647.0+ KB

In [53]:
df.count()

date             4600
price            4600
bedrooms         4600
bathrooms        4600
sqft_living      4600
sqft_lot         4600
floors           4600
waterfront       4600
view             4600
condition        4600
sqft_above       4600
sqft_basement    4600
yr_built         4600
yr_renovated     4600
street           4600
city             4600
statezip         4600
country          4600
dtype: int64

In [54]:
df['city'].unique()

array(['Shoreline', 'Seattle', 'Kent', 'Bellevue', 'Redmond',
       'Maple Valley', 'North Bend', 'Lake Forest Park', 'Sammamish',
       'Auburn', 'Des Moines', 'Bothell', 'Federal Way', 'Kirkland',
       'Issaquah', 'Woodinville', 'Normandy Park', 'Fall City', 'Renton',
       'Carnation', 'Snoqualmie', 'Duvall', 'Burien', 'Covington',
       'Inglewood-Finn Hill', 'Kenmore', 'Newcastle', 'Mercer Island',
       'Black Diamond', 'Ravensdale', 'Clyde Hill', 'Algona', 'Skykomish',
       'Tukwila', 'Vashon', 'Yarrow Point', 'SeaTac', 'Medina',
       'Enumclaw', 'Snoqualmie Pass', 'Pacific', 'Beaux Arts Village',
       'Preston', 'Milton'], dtype=object)

In [55]:
df.nunique()

date               70
price            1741
bedrooms           10
bathrooms          26
sqft_living       566
sqft_lot         3113
floors              6
waterfront          2
view                5
condition           5
sqft_above        511
sqft_basement     207
yr_built          115
yr_renovated       60
street           4525
city               44
statezip           77
country             1
dtype: int64

In [56]:
df['price'].nunique()

1741

In [57]:
# df.columns
for col in df.columns:
    print(col)

date
price
bedrooms
bathrooms
sqft_living
sqft_lot
floors
waterfront
view
condition
sqft_above
sqft_basement
yr_built
yr_renovated
street
city
statezip
country

In [58]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [59]:
print(f" rows {df.shape[0]}")
print(f" column {df.shape[1]}")

 rows 4600
 column 18

In [60]:
df.isnull().sum()
# df.city.isnull().sum()  # if no spacing between column name
# df['full name'].isnull().sum()  # if spacing between column name

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [61]:
df.country.unique()

array(['USA'], dtype=object)

In [62]:
# df.drop(columns='date',inplace=True)  
# df.drop('date', axis=1,inplace=True)
df = df.drop('date', axis=1)

In [63]:
df = df.drop('country', axis=1)

In [64]:
# for object or string
df['street'].mode()[0]   # most frequent value

'2520 Mulberry Walk NE'

In [65]:
# df['street'].fillna(df['street'].mode()[0])
df['street'] = df['street'].fillna(df['street'].mode()[0])

In [66]:
def fillnaobjmode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])
columns = ['street','city','statezip']
fillnaobjmode(columns)

In [67]:
# for float values
def fillnafloatmean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())
columns = ['price','sqft_living','sqft_lot','condition','sqft_above','sqft_basement']
fillnafloatmean(columns)

In [68]:
# for int values
def fillnaintmode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])
columns = ['bedrooms','bathrooms','waterfront','floors','view','yr_built','yr_renovated']
fillnaintmode(columns)

In [69]:
df['price'] = df['price'].astype('int64')

In [70]:

def changefloat(cols):
    for i in cols:
        df[i] = df[i].astype('int64')
columns = ['price','sqft_living','sqft_lot','condition',
           'sqft_above','sqft_basement','bedrooms','bathrooms','waterfront',
           'floors','view','yr_built','yr_renovated']
changefloat(columns)

In [71]:
# def changeobjtoint(cols):
#     for i in cols:
#         df[i] = df[i].astype('int64')
# columns = ['street','city','statezip']
# changeobjtoint(columns)

In [72]:
data = pd.DataFrame({'city':df['city'].unique()})
data_LE = LabelEncoder()
data_LE.fit(np.ravel(data))

LabelEncoder()

In [73]:
def changeobjtoint(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))
        # data_LE.fit(data)
        df[i] = data_LE.transform(df[i])
columns = ['street','city','statezip']
changeobjtoint(columns)

In [74]:
df.to_csv('preprocessed.csv',index= False,header = True)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   int64
 1   bedrooms       4600 non-null   int64
 2   bathrooms      4600 non-null   int64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   int64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
 13  street         4600 non-null   int32
 14  city           4600 non-null   int32
 15  statezip       4600 non-null   int32
dtypes: int32(3), int64(13)
memory usage: 521.2 KB

In [76]:
df = pd.read_csv("preprocessed.csv")

In [77]:
from sklearn.model_selection import train_test_split
x = df.drop('price',axis=1) # with resultant column
y = df['price']    # with resultant column

In [78]:
x.head(1)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3,1,1340,7912,1,0,0,3,1340,0,1955,2005,1522,36,62

In [79]:
y.head(1)

0    313000
Name: price, dtype: int64

In [80]:
trainx,testx,trainy,testy = train_test_split(x,y,test_size=0.3,shuffle=False) # 70 percent training and 30 percent testing

In [81]:
trainx

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3,1,1340,7912,1,0,0,3,1340,0,1955,2005,1522,36,62
1,5,2,3650,9050,2,0,4,5,3370,280,1921,0,3899,35,58
2,3,2,1930,11947,1,0,0,4,1930,0,1966,0,2291,18,26
3,3,2,2000,8030,1,0,0,4,1000,1000,1963,0,4263,3,7
4,4,2,1940,10500,1,0,0,4,1140,800,1976,1992,4352,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,4,2,1890,8505,1,0,0,3,1290,600,1980,0,4273,31,31
3216,3,1,2200,9840,1,0,0,5,1500,700,1978,0,1029,3,5
3217,4,2,2510,7992,1,0,0,3,1610,900,1978,0,2968,18,20
3218,3,2,1420,1309,3,0,0,3,1420,0,2006,0,3013,35,47
3219,3,1,2000,9900,1,0,2,4,1480,520,1957,2001,1384,26,68

In [82]:
print(trainx.shape,trainy.shape)
print(testx.shape,testy.shape)

(3220, 15) (3220,)
(1380, 15) (1380,)

**Apply classifier/ model training**

In [83]:
from sklearn.svm import SVC
modelsvc = SVC()
modelsvc.fit(trainx,trainy)
print(modelsvc)

SVC()

In [84]:
import pickle
pickle.dump(modelsvc,open('modelsvc.pkl','wb'))

In [85]:
#loading model
modelsvc = pickle.load(open('modelsvc.pkl','rb'))

In [86]:
modelsvcpred = modelsvc.predict(testx)
modelsvcpred

array([300000, 400000, 300000, ..., 300000, 300000, 300000], dtype=int64)

In [87]:
from sklearn.metrics import accuracy_score
modelsvcaccu = accuracy_score(testy,modelsvcpred)
print(round(modelsvcaccu,3)*100,'%')

1.0 %

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

modelsvcpred = modelsvc.predict(testx)

accuracy_svc = round(accuracy_score(testy, modelsvcpred) * 100, 2)
print(f"SVC Accuracy: {accuracy_svc} %\n")

print("Classification Report:")
print(classification_report(testy, modelsvcpred))

print("Confusion Matrix:")
print(confusion_matrix(testy, modelsvcpred))

comparison_svc = pd.DataFrame({
    'Actual': testy,
    'Predicted': modelsvcpred,
    'Correct': testy == modelsvcpred
})

print("\nComparison Table (first 10 rows):")
print(comparison_svc.head(10))

SVC Accuracy: 1.01 %

Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        49
        7800       0.00      0.00      0.00         1
       83300       0.00      0.00      0.00         2
       84350       0.00      0.00      0.00         1
       87500       0.00      0.00      0.00         1
      100000       0.00      0.00      0.00         2
      102500       0.00      0.00      0.00         1
      107500       0.00      0.00      0.00         1
      108333       0.00      0.00      0.00         1
      115000       0.00      0.00      0.00         1
      117833       0.00      0.00      0.00         1
      127160       0.00      0.00      0.00         1
      132250       0.00      0.00      0.00         2
      132500       0.00      0.00      0.00         1
      135333       0.00      0.00      0.00         2
      137124       0.00      0.00      0.00         1
      139000       0.00      0.00      0.00         1
      140000       0.00      0.00      0.00         1
      148000       0.00      0.00      0.00         1
      148226       0.00      0.00      0.00         1
      148612       0.00      0.00      0.00         2
      150000       0.00      0.00      0.00         3
      152000       0.00      0.00      0.00         1
      154950       0.00      0.00      0.00         1
      156766       0.00      0.00      0.00         1
      160000       0.00      0.00      0.00         2
      163785       0.00      0.00      0.00         1
      165000       0.00      0.00      0.00         1
      165050       0.00      0.00      0.00         1
      167500       0.00      0.00      0.00         1
      168333       0.00      0.00      0.00         1
      170000       0.00      0.00      0.00         1
      170500       0.00      0.00      0.00         1
      171224       0.00      0.00      0.00         1
      171758       0.00      0.00      0.00         1
      173666       0.00      0.00      0.00         1
      174000       0.00      0.00      0.00         1
      175000       0.00      0.00      0.00         1
      176225       0.00      0.00      0.00         1
      176400       0.00      0.00      0.00         1
      177500       0.00      0.00      0.00         1
      178650       0.00      0.00      0.00         1
      180785       0.00      0.00      0.00         1
      182805       0.00      0.00      0.00         1
      185000       0.00      0.00      0.00         1
      187000       0.00      0.00      0.00         1
      188000       0.00      0.00      0.00         1
      190000       0.00      0.00      0.00         2
      190368       0.00      0.00      0.00         1
      191000       0.00      0.00      0.00         1
      193000       0.00      0.00      0.00         1
      194000       0.00      0.00      0.00         1
      195000       0.00      0.00      0.00         3
      196500       0.00      0.00      0.00         1
      198000       0.00      0.00      0.00         1
      198995       0.00      0.00      0.00         1
      199990       0.00      0.00      0.00         1
      200000       0.00      0.00      0.00         2
      200500       0.00      0.00      0.00         1
      201500       0.00      0.00      0.00         1
      202000       0.00      0.00      0.00         2
      203400       0.00      0.00      0.00         1
      205000       0.00      0.00      0.00         4
      205425       0.00      0.00      0.00         1
      209950       0.00      0.00      0.00         2
      210000       0.00      0.00      0.00         4
      210614       0.00      0.00      0.00         2
      212700       0.00      0.00      0.00         1
      214750       0.00      0.00      0.00         1
      215000       0.00      0.00      0.00         4
      215500       0.00      0.00      0.00         1
      216000       0.00      0.00      0.00         1
      216500       0.00      0.00      0.00         1
      217500       0.00      0.00      0.00         1
      218000       0.00      0.00      0.00         2
      219500       0.00      0.00      0.00         1
      219950       0.00      0.00      0.00         1
      220000       0.00      0.00      0.00         2
      220083       0.00      0.00      0.00         1
      220600       0.00      0.00      0.00         1
      221000       0.00      0.00      0.00         1
      223000       0.00      0.00      0.00         1
      224000       0.00      0.00      0.00         2
      225000       0.00      0.00      0.00         1
      225279       0.00      0.00      0.00         1
      225500       0.00      0.00      0.00         1
      226550       0.00      0.00      0.00         1
      228944       0.00      0.00      0.00         1
      228950       0.00      0.00      0.00         1
      229000       0.00      0.00      0.00         1
      229500       0.00      0.00      0.00         1
      229629       0.00      0.00      0.00         2
      229800       0.00      0.00      0.00         1
      230000       0.00      0.00      0.00         7
      232000       0.00      0.00      0.00         1
      232333       0.00      0.00      0.00         1
      232500       0.00      0.00      0.00         1
      233000       0.00      0.00      0.00         1
      233166       0.00      0.00      0.00         1
      234000       0.00      0.00      0.00         2
      234975       0.00      0.00      0.00         1
      235000       0.00      0.00      0.00         7
      235500       0.00      0.00      0.00         1
      235867       0.00      0.00      0.00         1
      236000       0.00      0.00      0.00         1
      237227       0.00      0.00      0.00         2
      237333       0.00      0.00      0.00         2
      237481       0.00      0.00      0.00         1
      237950       0.00      0.00      0.00         1
      238750       0.00      0.00      0.00         1
      240000       0.00      0.00      0.00         3
      240015       0.00      0.00      0.00         1
      241000       0.00      0.00      0.00         1
      243000       0.00      0.00      0.00         1
      243069       0.00      0.00      0.00         1
      243800       0.00      0.00      0.00         1
      245000       0.00      0.00      0.00         7
      245700       0.00      0.00      0.00         1
      246500       0.00      0.00      0.00         1
      246950       0.00      0.00      0.00         1
      247875       0.00      0.00      0.00         1
      248000       0.00      0.00      0.00         1
      248400       0.00      0.00      0.00         1
      249000       0.00      0.00      0.00         2
      250000       0.00      0.00      0.00         6
      251555       0.00      0.00      0.00         1
      252000       0.00      0.00      0.00         2
      252500       0.00      0.00      0.00         1
      252750       0.00      0.00      0.00         1
      252980       0.00      0.00      0.00         1
      253000       0.00      0.00      0.00         1
      253500       0.00      0.00      0.00         1
      254000       0.00      0.00      0.00         3
      254600       0.00      0.00      0.00         1
      255000       0.00      0.00      0.00         6
      255950       0.00      0.00      0.00         1
      256000       0.00      0.00      0.00         1
      257500       0.00      0.00      0.00         3
      258125       0.00      0.00      0.00         1
      259500       0.00      0.00      0.00         1
      259585       0.00      0.00      0.00         1
      259950       0.00      0.00      0.00         1
      260000       0.00      0.00      0.00         6
      262000       0.00      0.00      0.00         1
      263000       0.00      0.00      0.00         2
      263400       0.00      0.00      0.00         1
      264270       0.00      0.00      0.00         1
      264500       0.00      0.00      0.00         1
      265000       0.00      0.00      0.00         5
      265050       0.00      0.00      0.00         1
      265950       0.00      0.00      0.00         1
      266000       0.00      0.00      0.00         1
      266066       0.00      0.00      0.00         1
      267000       0.00      0.00      0.00         2
      268000       0.00      0.00      0.00         1
      268971       0.00      0.00      0.00         3
      269187       0.00      0.00      0.00         1
      270000       0.00      0.00      0.00         5
      274333       0.00      0.00      0.00         1
      274500       0.00      0.00      0.00         1
      274750       0.00      0.00      0.00         1
      274900       0.00      0.00      0.00         1
      275000       0.00      0.00      0.00         3
      275250       0.00      0.00      0.00         1
      275500       0.00      0.00      0.00         1
      276000       0.00      0.00      0.00         2
      276900       0.00      0.00      0.00         1
      278500       0.00      0.00      0.00         1
      278900       0.00      0.00      0.00         1
      279000       0.00      0.00      0.00         2
      279900       0.00      0.00      0.00         1
      280000       0.00      0.00      0.00         5
      280500       0.00      0.00      0.00         1
      280927       0.00      0.00      0.00         1
      282508       0.00      0.00      0.00         2
      282766       0.00      0.00      0.00         1
      283000       0.00      0.00      0.00         1
      284000       0.00      0.00      0.00         2
      285000       0.00      0.00      0.00         4
      286000       0.00      0.00      0.00         1
      287000       0.00      0.00      0.00         1
      287919       0.00      0.00      0.00         2
      288000       0.00      0.00      0.00         1
      288500       0.00      0.00      0.00         1
      288790       0.00      0.00      0.00         1
      289000       0.00      0.00      0.00         1
      289373       0.00      0.00      0.00         1
      289659       0.00      0.00      0.00         1
      289950       0.00      0.00      0.00         1
      289987       0.00      0.00      0.00         1
      290000       0.00      0.00      0.00         2
      290256       0.00      0.00      0.00         1
      291000       0.00      0.00      0.00         1
      292285       0.00      0.00      0.00         1
      292600       0.00      0.00      0.00         1
      293000       0.00      0.00      0.00         1
      295000       0.00      0.00      0.00         5
      295950       0.00      0.00      0.00         1
      296475       0.00      0.00      0.00         1
      297857       0.00      0.00      0.00         1
      299880       0.00      0.00      0.00         1
      299900       0.00      0.00      0.00         1
      299950       0.00      0.00      0.00         2
      300000       0.01      0.71      0.03        17
      302000       0.00      0.00      0.00         1
      304000       0.00      0.00      0.00         1
      304900       0.00      0.00      0.00         1
      305000       0.00      0.00      0.00         5
      306000       0.00      0.00      0.00         1
      307000       0.00      0.00      0.00         1
      308000       0.00      0.00      0.00         2
      308166       0.00      0.00      0.00         1
      308830       0.00      0.00      0.00         1
      308950       0.00      0.00      0.00         1
      309000       0.00      0.00      0.00         2
      309487       0.00      0.00      0.00         1
      309620       0.00      0.00      0.00         1
      309780       0.00      0.00      0.00         1
      310000       0.00      0.00      0.00         4
      312500       0.00      0.00      0.00         1
      314500       0.00      0.00      0.00         2
      315000       0.00      0.00      0.00         4
      315368       0.00      0.00      0.00         1
      316850       0.00      0.00      0.00         1
      317000       0.00      0.00      0.00         1
      317061       0.00      0.00      0.00         1
      318000       0.00      0.00      0.00         1
      320000       0.00      0.00      0.00         7
      321000       0.00      0.00      0.00         1
      321500       0.00      0.00      0.00         1
      323833       0.00      0.00      0.00         1
      325000       0.00      0.00      0.00         4
      325187       0.00      0.00      0.00         1
      326428       0.00      0.00      0.00         1
      326500       0.00      0.00      0.00         1
      326983       0.00      0.00      0.00         1
      327000       0.00      0.00      0.00         1
      327500       0.00      0.00      0.00         1
      328000       0.00      0.00      0.00         1
      328211       0.00      0.00      0.00         1
      328423       0.00      0.00      0.00         1
      328950       0.00      0.00      0.00         1
      329333       0.00      0.00      0.00         1
      329445       0.00      0.00      0.00         1
      329950       0.00      0.00      0.00         2
      330000       0.00      0.00      0.00         7
      330675       0.00      0.00      0.00         1
      331366       0.00      0.00      0.00         1
      332000       0.00      0.00      0.00         1
      332888       0.00      0.00      0.00         1
      333490       0.00      0.00      0.00         1
      334500       0.00      0.00      0.00         1
      334888       0.00      0.00      0.00         1
      335500       0.00      0.00      0.00         1
      335950       0.00      0.00      0.00         1
      336000       0.00      0.00      0.00         1
      336500       0.00      0.00      0.00         1
      337000       0.00      0.00      0.00         2
      337945       0.00      0.00      0.00         1
      339000       0.00      0.00      0.00         2
      339900       0.00      0.00      0.00         1
      339950       0.00      0.00      0.00         1
      340000       0.00      0.00      0.00         3
      341000       0.00      0.00      0.00         1
      341166       0.00      0.00      0.00         1
      341750       0.00      0.00      0.00         1
      342000       0.00      0.00      0.00         2
      342246       0.00      0.00      0.00         1
      342500       0.00      0.00      0.00         1
      343500       0.00      0.00      0.00         1
      345000       0.00      0.00      0.00         6
      346500       0.00      0.00      0.00         2
      346750       0.00      0.00      0.00         1
      349000       0.00      0.00      0.00         1
      349500       0.00      0.00      0.00         1
      349810       0.00      0.00      0.00         1
      350000       0.00      0.00      0.00         6
      351250       0.00      0.00      0.00         1
      351999       0.00      0.00      0.00         1
      352000       0.00      0.00      0.00         1
      352500       0.00      0.00      0.00         1
      354000       0.00      0.00      0.00         1
      354950       0.00      0.00      0.00         1
      355000       0.00      0.00      0.00         7
      356000       0.00      0.00      0.00         2
      357250       0.00      0.00      0.00         1
      357500       0.00      0.00      0.00         1
      357562       0.00      0.00      0.00         1
      358000       0.00      0.00      0.00         1
      359000       0.00      0.00      0.00         2
      359500       0.00      0.00      0.00         1
      360000       0.00      0.00      0.00         3
      360500       0.00      0.00      0.00         1
      362000       0.00      0.00      0.00         1
      362500       0.00      0.00      0.00         1
      362750       0.00      0.00      0.00         1
      364000       0.00      0.00      0.00         1
      365000       0.00      0.00      0.00         1
      365500       0.00      0.00      0.00         1
      366000       0.00      0.00      0.00         1
      368000       0.00      0.00      0.00         1
      368112       0.00      0.00      0.00         1
      370000       0.00      0.00      0.00         6
      371500       0.00      0.00      0.00         1
      373000       0.00      0.00      0.00         1
      374000       0.00      0.00      0.00         1
      374500       0.00      0.00      0.00         1
      374950       0.00      0.00      0.00         1
      375000       0.00      0.00      0.00         5
      378000       0.00      0.00      0.00         1
      378500       0.00      0.00      0.00         1
      379000       0.00      0.00      0.00         1
      379509       0.00      0.00      0.00         1
      380000       0.00      0.00      0.00         2
      380680       0.00      0.00      0.00         1
      381500       0.00      0.00      0.00         1
      382500       0.00      0.00      0.00         2
      383000       0.00      0.00      0.00         2
      383962       0.00      0.00      0.00         1
      385000       0.00      0.00      0.00         2
      386000       0.00      0.00      0.00         1
      387884       0.00      0.00      0.00         1
      389000       0.00      0.00      0.00         1
      390000       0.00      0.00      0.00         4
      391400       0.00      0.00      0.00         1
      391500       0.00      0.00      0.00         1
      392000       0.00      0.00      0.00         1
      394000       0.00      0.00      0.00         1
      394500       0.00      0.00      0.00         1
      395000       0.00      0.00      0.00         8
      396166       0.00      0.00      0.00         1
      396500       0.00      0.00      0.00         1
      397000       0.00      0.00      0.00         2
      397500       0.00      0.00      0.00         1
      399000       0.00      0.00      0.00         1
      399500       0.00      0.00      0.00         1
      399895       0.00      0.00      0.00         1
      399900       0.00      0.00      0.00         1
      399950       0.00      0.00      0.00         2
      400000       0.00      0.25      0.00         4
      401000       0.00      0.00      0.00         1
      402000       0.00      0.00      0.00         3
      402500       0.00      0.00      0.00         1
      404950       0.00      0.00      0.00         1
      405000       0.00      0.00      0.00         2
      405125       0.00      0.00      0.00         1
      405500       0.00      0.00      0.00         1
      406000       0.00      0.00      0.00         1
      406062       0.00      0.00      0.00         1
      406500       0.00      0.00      0.00         1
      408000       0.00      0.00      0.00         1
      408900       0.00      0.00      0.00         1
      409124       0.00      0.00      0.00         1
      409900       0.00      0.00      0.00         1
      410000       0.00      0.00      0.00        11
      411000       0.00      0.00      0.00         1
      412000       0.00      0.00      0.00         1
      414000       0.00      0.00      0.00         1
      415000       0.00      0.00      0.00         7
      416904       0.00      0.00      0.00         1
      417000       0.00      0.00      0.00         1
      417838       0.00      0.00      0.00         1
      417985       0.00      0.00      0.00         1
      418800       0.00      0.00      0.00         1
      419000       0.00      0.00      0.00         1
      420000       0.00      0.00      0.00         2
      420642       0.00      0.00      0.00         1
      423050       0.00      0.00      0.00         1

c:\Users\HAK3\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\HAK3\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\HAK3\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))